@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500;600;700;800&family=Pacifico&display=swap');

.analizerArea {
  resize: none;
  min-width: 60%;
  min-height: 40vh;
}

body {
  background-color: #202224;
  color: white;
  font-family: 'JetBrains Mono', monospace;
}

textarea {
  background-color: #253443;
  color: white;
  width: calc(100% - 1rem);
  border: none;
  padding: 1rem 0 1rem 1rem;
  font-size: 1rem;
}

textarea:focus-visible {
  outline: none;
}

.App {
  display: grid;
  place-items: center;
}

.App > div {
  max-width: 80vw;
}

.analizerContainer {
  width: 100%;
  background-color: #253443;
  display: flex;

}

.container {
  width: 100%;
  border: #505050 1.5px solid;
  border-radius: 10px;
  overflow: hidden;
}

.input {
  position: relative;
}

.analize-button {
  position: absolute;
  bottom: 0;
  right: 0;

  border: #505050 1.5px solid;
  border-radius: 10px 0 0 0;
  font-family: inherit;
  background-color: #505050;
  color: white;

  padding: 10px 40px;
  transition: all ease-in-out .3s;
  cursor: pointer;
}

.analize-button:hover {
  background-color: #5f5f5f;
  border-color: #5f5f5f;
}

.lines {
  background-color: #3A4855;
  font-size: 1rem;
}

.result {
  padding-left: 1rem;
}